# .gitignore

# jetbrains IDE files
.idea

# Ignore npm-installed modules.
./client/node_modules 

# Programmable fax credentials.
fax.env
fax.yaml

# Google Cloud Storage credentials.
gcs_credentials.json

# Payment credentials
credentials.yaml
payment.env

